[#]*
*.bak
*.o
*.old
*.orig
*.tdy
*.tmp
*.xlsx
*~
.*

# Keep some vscode files
!/.vscode
/.vscode/perl-lang

# Keep work plan files
!/.windsurf
/.windsurf/*
!/.windsurf/rules

# Keep some config files
!/.devcontainer
!.git*[^~]
!.perlcriticrc
!.perltidyrc

# Ignore target directory
/target

# Ignore ouput directory
/output
