[#]*
*.bak
*.backup
*.o
*.old
*.orig
*.tdy
*.tmp
*.xlsx
*~
.*

# Keep some vscode files
!/.vscode
/.vscode/perl-lang

# Keep windsurf rules
!/.windsurf
/.windsurf/*
!/.windsurf/rules

# Keep some config files
!/.devcontainer
!.git*[^~]
!.perlcriticrc
!.perltidyrc

# Ignore target directory
/target

# Ignore input, output and scratch directory
/scratch
/input
/output
